<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AssetUploader.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Atomic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>FirebaseUploaderSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Media.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD12679521BB4DFD00FC1932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD1267A921BB4DFF00FC1932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD1267D821BB4F8200FC1932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADD8D2B821BB9E49000C8532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
